@use './main.scss' as *;
@import 'bootstrap/dist/css/bootstrap.min.css';

.about{
    text-align: center;
    margin-top: 20px;
    button{
        background:#4f8cff;
        color:white;
        font-weight: bold;
        cursor: pointer;
         transition: background 0.2s;
    &:hover {
      background: #2563eb;

    }
}
}